<mat-form-field class="full-width" appearance="fill">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <input
    #textInput
    type="text"
    matInput
    [formControl]="itemSelectorControl"
    [matAutocomplete]="itemSelectorAutocomplete"
    />
  <mat-autocomplete #itemSelectorAutocomplete="matAutocomplete">
    @for (itemName of suggestedNames(); track itemName) {
      <mat-option [value]="itemName">
        {{ itemName }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
