.page {

}
  
.hoverButtons {
  &:hover {
    .buttons {
      opacity: 1 !important;
    }    
  }

  .buttons {
    opacity: 0;
    transition: 0.2s opacity;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 auto;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 auto;
}

.section {
}

.spacer {
  flex: 1;
}
