@if (loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  @let exp = experiment();
  @if (exp === null) {
    <div>
      <button mat-button (click)="newExperiment()">New experiment</button>
      <button mat-button (click)="loadExperimentFromDirectory()">Load</button>
      @if (error) {
        <div class="error">
          <div class="errorMessage">{{ error }}</div>
          <div class="spacer"></div>
          <button mat-icon-button (click)="clearError()">
            <mat-icon svgIcon="close">close</mat-icon>
          </button>
        </div>
      }
    </div>
  } @else {
    @let sections = exp.topLevelSections();

    <mat-toolbar class="header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="menu">menu</mat-icon>
      </button>
      <div class="title">{{ exp.id }}</div>
      <div class="buttons">
        <div class="spacer"></div>
        <div class="saveState">
          @switch (cacheState()) {
            @case (SaveState.New) {
              <span>[uncached]</span>
            }
            @case (SaveState.Edited) {
              <span>[uncached]</span>
            }
            @case (SaveState.Saved) {
              <span>[cached]</span>
            }
          }
          @switch (diskState()) {
            @case (SaveState.New) {
              <span>new (unsaved)</span>
            }
            @case (SaveState.Edited) {
              <span>edited since last save</span>
            }
            @case (SaveState.Saved) {
              <span>saved</span>
            }
          }
        </div>
        <button
          mat-icon-button
          matTooltip=""
          [matMenuTriggerFor]="experimentMenu"
          aria-label="Options"
        >
          <mat-icon svgIcon="more_vert">more_vert</mat-icon>
        </button>
        <mat-menu #experimentMenu class="vmenu">
          <div>
            <button
              mat-menu-item
              matTooltip="Save to disk"
              (click)="saveExperiment()"
            >
              save to disk
            </button>
          </div>
          <div>
            <button
              mat-menu-item
              matTooltip="Close"
              (click)="closeExperiment()"
            >
              close
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="container">
      <mat-sidenav
        #sidenav
        mode="side"
        opened="true"
        fixedInViewport="true"
        fixedTopGap="60"
        fixedBottomGap="0"
      >
        <mat-nav-list class="menu-buttons">
          @for (section of sections; track section.def.id) {
            <a [href]="'#sec:' + section.def.id">
              <mat-list-item
                [activated]="this.inViewSections.has(section.def.id)"
                matListItemTitle
                ariaCurrentWhenActive="sections"
              >
                {{ section.def.id }}
              </mat-list-item>
            </a>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="sections">
          @for (section of sections; track section.def.id) {
            <div class="section">
              <a [name]="'sec:' + section.def.id"></a>
              <app-section
                (inView)="noteInView(section, $event)"
                (edited)="onSectionEdited(section, $event)"
                [experiment]="exp"
                [section]="section"
              ></app-section>
            </div>
          }
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  }
}
