@let exp = experiment();
@if (exp === null) {
  <div>
    <button mat-button (click)="newExperiment()">New experiment</button>
    <button mat-button (click)="loadExperiment()">Load</button>
    @if (error) {
      <div class="error">
        <div class="buttons">
          <div class="spacer"></div>
          <button mat-button (click)="clearError()">X</button>
        </div>
        <div class="errorMessage">{{ error }}</div>
      </div>
    }
  </div>
} @else {
  @let sections = exp.sections();

  <div clas="page">
    <div class="header">
      <div class="path">{{ exp.id }}</div>
      <div class="buttons">
        <div class="spacer"></div>
        <button
          mat-icon-button
          matTooltip=""
          [matMenuTriggerFor]="experimentMenu"
          aria-label="Options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #experimentMenu class="vmenu">
          <div>
            <button
              mat-menu-item
              matTooltip="Save"
              (click)="saveExperiment(exp)"
            >
              save
            </button>
          </div>
          <div>
            <button
              mat-menu-item
              matTooltip="Close"
              (click)="closeExperiment()"
            >
              close
            </button>
          </div>
        </mat-menu>
      </div>
    </div>

    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list class="menu-buttons">
          @for (section of sections; track section.def.id) {
            <mat-list-item
              [activated]="router.url == '#'"
              matListItemTitle
              routerLink=""
              routerLinkActive="active"
              ariaCurrentWhenActive="sections"
            >
              {{ section.def.id }}
            </mat-list-item>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="sections hoverButtons">
          @for (section of sections; track section.def.id) {
            @let data = section.data();
            <div class="section">
              <mat-card>
                <mat-card-content>
                  <!-- @if(data.kind == ExpDefKind.Data) {
              } @else {
                <div>Unknown data.kind {{ data.kind }}</div>
              } -->
                  @switch (data.sectionData.sectionKind) {
                    @case (SectionKind.Markdown) {
                      <div>
                        <markdown>{{ data.sectionData.content }}</markdown>
                      </div>
                    }
                    @case (SectionKind.JsonObj) {
                      <div>
                        <app-codemirror-config-editor
                          [whatIsBeingEditedName]="section.def.id"
                          [defaultConfig]="'{}'"
                          [config]="
                            stringifyJsonValue(data.sectionData.content)
                          "
                          [closable]="false"
                          (update)="
                            handleSectionJsonUpdate($event, section.content)
                          "
                        ></app-codemirror-config-editor>
                      </div>
                    }
                    @case (SectionKind.SubExperiment) {
                      <div>SubExperiment</div>
                    }
                    @default {
                      <div>Impossible/unknown sectionDataKind</div>
                    }
                  }
                </mat-card-content>
              </mat-card>
              <div class="buttons">
                <span class="'spacer"></span>
                <button mat-button>+</button>
                <span class="'spacer"></span>
                <!-- <button mat-button>...</button> -->
              </div>
            </div>
          }
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
}
