.page {

}

.saveState {
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
}

.path {
  padding: 5px;
}

.onScreen {
  border-right: 6px solid #BBB;
  --mat-list-active-indicator-shape: 0px
  // border-radius: 0px;
}
  
.menu-buttons {
  a {
    all: unset;
  }
}

.vmenu {
  display: block;
}

.error {
  border: 1px solid;
  border-color: #880000;
  color: #880000;
  background-color: #FFAAAA;
  padding: 10px;
  font-size: 10pt;
  margin: 10px;
  border-radius: 5px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  // align-items: start;
  
  flex: 1 1 auto;
}

.main-buttons {
  // display: flex;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  // align-items: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding-left: 10px;

  .title {
    font-weight: bold;
  }
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sections {
  background-color: #FFF;
}

.section {
}

.spacer {
  flex: 1;
}
