@if (loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  @let exp = experiment();
  @if (exp === null) {
    <div>
      <button mat-button (click)="newExperiment()">New experiment</button>
      <button mat-button (click)="loadExperiment()">Load</button>
      @if (error) {
        <div class="error">
          <div class="errorMessage">{{ error }}</div>
          <div class="spacer"></div>
          <button mat-icon-button (click)="clearError()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </div>
      }
    </div>
  } @else {
    @let sections = exp.sections();

    <div clas="page">
      <div class="header">
        <div class="title">{{ exp.id }}</div>
        <div class="buttons">
          <div class="spacer"></div>
          <div class="saveState">
            @switch (cacheState()) {
              @case (SaveState.New) {
                <span>[uncached]</span>
              }
              @case (SaveState.Edited) {
                <span>[uncached]</span>
              }
              @case (SaveState.Saved) {
                <span>[cached]</span>
              }
            }
            @switch (diskState()) {
              @case (SaveState.New) {
                <span>new (unsaved)</span>
              }
              @case (SaveState.Edited) {
                <span>edited since last save</span>
              }
              @case (SaveState.Saved) {
                <span>saved</span>
              }
            }
          </div>
          <button
            mat-icon-button
            matTooltip=""
            [matMenuTriggerFor]="experimentMenu"
            aria-label="Options"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #experimentMenu class="vmenu">
            <div>
              <button
                mat-menu-item
                matTooltip="Save"
                (click)="saveExperiment()"
              >
                save
              </button>
            </div>
            <div>
              <button
                mat-menu-item
                matTooltip="Close"
                (click)="closeExperiment()"
              >
                close
              </button>
            </div>
          </mat-menu>
        </div>
      </div>

      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened="true">
          <mat-nav-list class="menu-buttons">
            @for (section of sections; track section.def.id) {
              <mat-list-item
                [activated]="router.url == '#'"
                matListItemTitle
                routerLink=""
                routerLinkActive="active"
                ariaCurrentWhenActive="sections"
              >
                {{ section.def.id }}
              </mat-list-item>
            }
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="sections">
            @for (section of sections; track section.def.id) {
              <div class="section">
                <mat-card>
                  <mat-card-content>
                    <app-section
                      (edited)="onSectionEdited(section, $event)"
                      [experiment]="exp"
                      [section]="section"
                    ></app-section>
                    <!-- @if(data.kind == ExpDefKind.Data) {
              } @else {
                <div>Unknown data.kind {{ data.kind }}</div>
              } -->
                  </mat-card-content>
                </mat-card>
                <div class="buttons hoverButtons">
                  <span class="spacer"></span>
                  <button mat-button class="disappearing">+</button>
                  <span class="spacer"></span>
                  <!-- <button mat-button>...</button> -->
                </div>
              </div>
            }
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  }
}
