body{
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 10px;
  margin-left: 20px;
  font-size: 14px;
  min-height: 2000px;
}

p{
  max-width: 600px;
}

.left-col, .right-col{
  display: inline-block;
  vertical-align: top;
}

svg{
  overflow: visible;
}

.axis text{
  fill: #999;
  user-select: none;
  font-size: 9px;
}
.axis line{
/*  stroke: #999;*/
}

.axis .domain{
  display: none;
}

.axis-label{
  fill: #333;
  font-size: 12px;
  user-select: none;
}


circle.is-hovered{
  stroke-width: 2px;
  stroke: #f0f;
}


.graphic{
  font-family: sans-serif;
}


.lr-row{
  white-space: nowrap;
}

.chart-div{
  display: inline-block;
}

.line-chart-hyper{
  width: 230px;
  margin: 0px auto;
  margin-top: 30px;
}


.sliders-container{
  margin-bottom: 20px;
}
.slider{
  width: 300px;
  display: inline-block;
}
.slider > *{
  display: block;
  text-align: center;
}


input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  top: -3px;
/*  width: 100px;*/
}

input[type='range']::-webkit-slider-runnable-track{
  background: #eee;
  height: 5px;
  outline: 1px solid #999;
}
input[type='range']::-moz-range-track {
  background: #eee;
  height: 5px;
  outline: 1px solid #999;
}

input[type='range']::-webkit-slider-thumb{
  appearance: none;
  margin-top: -4px;
  background-color: #000;
  height: 13px;
  width: 5px;
/*  border-radius: 10px;*/
  position: relative;
  z-index: 1000;
}
input[type='range']::-moz-range-thumb {
   appearance: none;
   margin-top: -4px;
   background-color: #000;
   height: 13px;
   width: 5px;
/*   border-radius: 10px;*/
   position: relative;
   z-index: 1000;
}
input[type='range']:hover::-webkit-slider-runnable-track{
  outline: 1px solid #000;
}
input[type='range']:hover::-moz-range-track {
  outline: 1px solid #000;
}
