body{
  background: #fff;
  color: #000;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin:0px;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.left-rail {
  background-color: #f0f0f0;
  padding: 20px;
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 0px;
  padding-top: 0px;
}

.main-content {
  padding: 20px;
  padding-top: 0px;
  min-height: 2000px;
  overflow-y: auto;
  min-width: 800px;
}




.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}
body{
  font-family: sans-serif;
  font-size: 12px;
}
.axis text{
  fill: #777;
  user-select: none;
}
.domain{
  display: none;
}
.axis line{
  stroke: #aaa;
}

.axis .axis-label{
  fill: #000;
}

svg{
  overflow: visible;
}

p{
  max-width: 500px;
}
h3{
  margin-top: 40px;
}
.section{
  margin-left: 10px;
}
.section.row{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.section.row h3{
  text-align: center;
  margin-bottom: 0px;
}

.is-target-token circle.is-last{
  stroke: #0ff;
}
circle.is-last{
  stroke-width: 2;
  stroke: #000;
}

val{
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-right: 10px;
}

path.domain{
  display: none;
}

.slider{
  margin-top: 50px;
  height: 52px;
}

.model-button{
  display: inline-block;
  outline: 1px solid #ccc;
  width: 25px;
  margin-bottom: 10px;
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 5px;
  user-select: none;
  text-align: right;
}
.model-button:hover{
  background: #ccc;
}
.model-button.active{
  background: #000;
  color: #fff;
  z-index: 100;
  position: relative;
}



.token-inline{
  padding: 1px;
  outline: #ddd solid 1px;
  margin: 3px;
  width: 20px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
}

.token-inline span{
  color: #777;
}

.graphic{
  font-family: sans-serif;
}


.kqov-dif-path{
  opacity: .2;
}
.kqov-dif-path.active{
  opacity: 1;
  stroke-width: 2;
}





input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  width: calc(100% - 10px);
  margin-top: 20px;
}

input[type='range']::-webkit-slider-runnable-track{
  background: #eee;
  height: 5px;
  outline: 1px solid #999;
}
input[type='range']::-moz-range-track {
  background: #eee;
  height: 5px;
  outline: 1px solid #999;
}

input[type='range']::-webkit-slider-thumb{
  appearance: none;
  margin-top: -4px;
  background-color: #000;
  height: 13px;
  width: 5px;
  border-radius: 10px;
  position: relative;
  z-index: 1000;
}
input[type='range']::-moz-range-thumb {
   appearance: none;
   margin-top: -4px;
   background-color: #000;
   height: 13px;
   width: 5px;
   border-radius: 10px;
   position: relative;
   z-index: 1000;
}
input[type='range']:hover::-webkit-slider-runnable-track{
  outline: 1px solid #000;
}
input[type='range']:hover::-moz-range-track {
  outline: 1px solid #000;
}
