<div class="row">
  <app-auto-completed-text-input class="dataset-form"
        [label]="'Task'"
        [selectedName]="currentTaskName()"
        [itemNames]="taskNames()"
        (itemSelected)="selectTask($event)">
        </app-auto-completed-text-input>
</div>
@if(currentTask(); as task) {
  <div class="row">
  @if(view == 'view') {
    <div>
      <div class="json">{{taskConfigAsJson(task.config)}}</div>
      <button mat-icon-button (click)="toggleEditor()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="showExamples = !showExamples">
        @if(showExamples) {
          <mat-icon
          aria-hidden="false"
          aria-label="Hide Examples"
          >expand_less</mat-icon>      
        } @else {
          <mat-icon
            aria-hidden="false"
            aria-label="Show Examples"
            >expand_more</mat-icon>
          }
      </button>
    </div>
  } @else if(view == 'edit') {
    <div class="code-full-screen full-width">
      <app-codemirror-config-editor
        (update)="taskConfigUpdated($event)"
        [whatIsBeingEditedName]="task.config.name"
        [defaultConfig]="task.defaultConfigStr"
        [config]="task.configStr"></app-codemirror-config-editor>
    </div>
  }
  </div>
}

@if(showExamples) {
  @if(selectedTaskExamples(); as selectedExamples) {
  <div class="row">
    <table #datasetTable mat-table [dataSource]="selectedExamples" class="mat-elevation-z0">
      <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef class="table-header"> input </th>
        <td mat-cell *matCellDef="let element"> 
          <app-token-seq-display [tokens]="element.input"></app-token-seq-display>
          </td>
      </ng-container>
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef class="table-header"> target </th>
        <td mat-cell *matCellDef="let element">
          <app-token-seq-display [tokens]="element.output"></app-token-seq-display>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="datasetColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: datasetColumns;"></tr>
    </table>
  </div>
  }
}
