body{
  background: #fff;
  color: #000;
}

body{
  --colab-primary-text-color: #000;
}


.axis text{
  fill: #777;
  user-select: none;
}
.axis .axis-label{
  fill: #000;
}

.chart{
}
.section{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.section h3{
  text-align: center;
  margin-bottom: 0px;
}

circle.is-last{
  stroke-width: 3;
  stroke: #f0f;
}