
.hint-error {
  color: rgba(240,0,0,.8);
}

.code {
  flex: 0 0 auto;
  background-color: #FFF;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  // overflow: scroll;
  // min-height: 300px;
  // height: 100%;
  // width: 90%;
  // height: 100%
}

.buttons {
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .whatIsBeingEditedName {
    font-weight: 800;
  }
}

.spacer {
  flex: 1
}
