body{
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 10px;
  margin-left: 40px;
  font-size: 14px;
  min-height: 2000px;
}


.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}


p{
  max-width: 600px;
  margin-bottom: 40px;
  margin-top: 40px;

}

.graphic{
  margin-bottom: 30px;
  margin-top: 30px;
}

svg{
  overflow: visible;
}

.axis text{
  fill: #999;
  user-select: none;
  font-size: 9px;
}
.axis line{
  stroke: #999;
}

.axis .domain{
  display: none;
}

.axis-label{
  fill: #333;
  font-size: 12px;
  user-select: none;
}

.chart-title{
  fill: #000;
  font-size: 15px;
  user-select: none;
  transform: translate(0px, -10px);
  font-weight: 500;
}
.chart-title-sm{
  font-size: 12px;
  user-select: none;
  transform: translate(0px, -5px);
}


.filters > div{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;

}
.filters .row{
  cursor: pointer;
  font-size: 12px;
  color: #555;
  margin-left: 20px;
  user-select: none;
}
.filters .row.active > div{
  text-decoration: underline;
}

.template{
  width: 800px;
}

.template .chart{
  display: inline-block;
}

.filters path.active{
  stroke-width: 4px;
}



.logits{
  width: 1000px;
}

.logits .chart{
  display: inline-block;
}



path.top-token.active{
  stroke-width: 3px;
}

.row div{
  user-select: none;
}
div.top-token.active > div{
  text-decoration: underline;
}

.chart-container > div{
  display: inline-block;
  vertical-align: top;
}