.content {
  display: flex;
  margin: 0;
  padding: 10px 16px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  // background-color: rgba(0,255,0,.87);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  // background-color: rgba(0,255,0,.87);
}

.small-logo {
  width: 100px;
}

.spacer {
  flex: 1;
}

.code-full-screen {
  margin: 0px;
  margin-top: 60px;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.dataset-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.error {
  color: #F00;
}

.card {
  margin: 1em;
}
