<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    margin: 0px;
    padding: 0px;

    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="small-logo" aria-label="Home" [routerLink]="['/']" title="Home">
    <img src="/assets/pair-logo.svg">
  </a> <span class="title">Visualizing Activations of Boolean Circuits</span>
</div>

<!-- <div *ngIf="view == 'vis'" class="content" role="main" > -->
<div class="content" role="main">
  <mat-card class="card">
    <mat-card-header class="row">
      <mat-card-title>
        <span>Model</span>
      </mat-card-title>
      <div class="spacer"></div>
      <button mat-icon-button (click)="toggleModelConfig()">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <ng-template appActivationManager></ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <form class="dataset-form">
          Training Dataset
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Search Dataset</mat-label>
            <input type="text" matInput [formControl]="datasetNameControl" [matAutocomplete]="auto"
              (change)="updateSelectedDataset($event)">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="datasetDisplayFn">
              <mat-option *ngFor="let option of filteredDatasets$ | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="row">
        <div *ngIf="selectedDatasetTable$ | async as selectedDataset">
          <table #datasetTable mat-table [dataSource]="selectedDataset" class="mat-elevation-z0">
            <ng-container matColumnDef="input">
              <th mat-header-cell *matHeaderCellDef class="table-header"> [Inputs] </th>
              <td mat-cell *matCellDef="let element"> {{exampleToString(element.input)}} </td>
            </ng-container>
            <ng-container matColumnDef="output">
              <th mat-header-cell *matHeaderCellDef class="table-header"> [Output] </th>
              <td mat-cell *matCellDef="let element"> {{exampleToString(element.output)}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="datasetColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: datasetColumns;"></tr>
          </table>
        </div>
        <div class="card" *ngIf="datasetVisTensor$ | async as datasetVisTensor">
          Outputs (black=0, white=1):
          <app-axis-wrapper>
            <app-tensor-image #tensorImg [seenWidth]="100" [seenHeight]="100"
              [tensor]="datasetVisTensor"></app-tensor-image>
          </app-axis-wrapper>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
