<div>Evaluate model on a custom input:</div>

<form class="input-form">
  <mat-form-field class="short-width" appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput jsonStrListValidator
      maxlength="30" [formControl]="inputControl">
    <mat-error class="error"
      *ngIf="
      inputControl.invalid
      && (inputControl.dirty || inputControl.touched)
      && inputControl.errors?.['data']">
        {{inputControl.errors?.['data'].message}}
    </mat-error>
  </mat-form-field>
</form>

@if (currentModel(); as model) {
  <div>
    <button mat-flat-button color="primary" (click)="evaluate()">
      Evalute
    </button>
  </div>
} @else {
  <div>Model needs to be initialised to evalute it.</div>
}

@if (modelOutput) {
  <div>
    Output: <span>{{modelOutput}}</span>
  </div>
}

@if (currentModel(); as model) {
  <div class="button-row">
    <div>
      <!-- <button mat-flat-button color="primary" (click)="downloadActivations()">
        Download activations
      </button> -->
    </div>
    <div>
      <!-- <button mat-flat-button color="primary" (click)="downloadModel()">
        Download model
      </button> -->
    </div>
  </div>
}