<div class="row">
  <app-auto-completed-text-input class="dataset-form"
    [label]="'Model'"
    [selectedName]="currentModelName()"
    [itemNames]="modelNames()"
    (itemSelected)="maybeSetModel($event)">
    </app-auto-completed-text-input>
</div>

<div class="row" *ngIf="currentModel() as model">
  <div *ngIf="view != 'edit'" class="row">
    <!-- <div class="json">{{modelConfigAsJson(model)}}</div> -->
    <div class='buttonrow'>
      <button mat-icon-button (click)="toggleModelEditor()">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="this.currentModel()" mat-flat-button (click)="initModelData()">
        re-init
      </button>
    </div>
    @if (this.currentModel(); as model) {
      <div>
        Model is initialised. Params: <span>{{paramCount()}}</span>
        Token vocab size: <span>{{currentModel()?.config?.tokenRep?.tokens!.length}}</span>
      </div>
    } @else {
      <div>
        Model not initialised.
      </div>
    }
  </div>
  <div *ngIf="view == 'edit'" class="code-full-screen full-width">
    <app-codemirror-config-editor
      (update)="modelConfigUpdated($event)"
      [whatIsBeingEditedName]="model.config.name"
      [defaultConfig]="currentDefaultConfigStr()"
      [config]="currentConfigStr()"></app-codemirror-config-editor>
  </div>

</div>
