<div class="row">
  <app-auto-completed-text-input class="dataset-form"
    [label]="'Choose Trainer'"
    [selectedName]="currentModelName()"
    [itemNames]="modelNames()"
    (itemSelected)="maybeSetModel($event)">
    </app-auto-completed-text-input>
</div>

<div class="row" *ngIf="currentModel() as model">
  <div *ngIf="view != 'edit'" class="row">
    <div class="json">{{modelConfigAsJson(model)}}</div>
    <div class='buttonrow'>
      <button mat-icon-button (click)="toggleModelEditor()">
        <mat-icon>edit</mat-icon>
      </button>

      <button *ngIf="!model.modelData" mat-flat-button color="warn" (click)="initModelData()">
        init
      </button>
      <button *ngIf="model.modelData" mat-flat-button (click)="initModelData()">
        re-init
      </button>
    </div>
    @if (model.modelData(); as data) {
      <div>
        Model is initialised. Params: <span>{{data.paramCount}}</span>
        Token vocab size: <span>{{data.tokenRep.tokenEmb.tokens.length}}</span>
      </div>
    } @else {
      <div>
        Model not initialised.
      </div>
    }
  </div>
  <div *ngIf="view == 'edit'" class="code-full-screen full-width">
    <app-codemirror-config-editor
      (update)="modelConfigUpdated($event)"
      [whatIsBeingEditedName]="model.config.name"
      [defaultConfig]="model.defaultConfigStr"
      [config]="model.configStr"></app-codemirror-config-editor>
  </div>

</div>
