@let sec = section();
@let data = sec.data();

@switch (data.kind) {
  @case (SecDefKind.UiCell) {
    @switch (data.uiView) {
      @case (ViewerKind.MarkdownOutView) {
        @let markdown = sec.outputs["markdown"]();
        @if (markdown) {
          <markdown>{{ sec.outputs["markdown"]() }}</markdown>
        } @else {
          markdown not yet defined.
        }
      }
      @case (ViewerKind.JsonObjOutView) {
        @let jsonObjSignal = sec.outputs["jsonObj"];
        @if (jsonObjSignal()) {
          <app-codemirror-config-editor
            [whatIsBeingEditedName]="sec.def.id"
            [defaultConfig]="'{}'"
            [config]="stringifyJsonValue(jsonObjSignal())"
            [closable]="false"
            (update)="handleJsonUpdate($event, jsonObjSignal)"
          ></app-codemirror-config-editor>
        } @else {
          JSON not yet defined.
        }
      }
    }
  }
  @case (SecDefKind.WorkerCell) {
    <app-cell-section [section]="section()"></app-cell-section>
  }
  @case (SecDefKind.Experiment) {
    <div>SubExperiment</div>
  }
  @default {
    <div>Impossible/unknown sectionDataKind</div>
  }
}
