@let sec = section();
@let data = sec.data();
@let sectionData = sec.data().data;

@switch (sectionData.sectionKind) {
  @case (SectionKind.Markdown) {
    <markdown>{{ data.data.content }}</markdown>
  }
  @case (SectionKind.JsonObj) {
    <app-codemirror-config-editor
      [whatIsBeingEditedName]="sec.def.id"
      [defaultConfig]="'{}'"
      [config]="stringifyJsonValue(data.data.content)"
      [closable]="false"
      (update)="handleSectionJsonUpdate($event, sec.content)"
    ></app-codemirror-config-editor>
  }
  @case (SectionKind.WorkerCell) {
    <app-cell-section
      [experiment]="experiment()"
      [section]="section()"
      [cellData]="sectionData"
    ></app-cell-section>
  }
  @case (SectionKind.SubExperiment) {
    <div>SubExperiment</div>
  }
  @default {
    <div>Impossible/unknown sectionDataKind</div>
  }
}
