:host {
  display: block;
  background-color: #FFF;
}

:host {
  --my-hover-transition: transform 0.4s ease, opacity 0.4s ease;
}

:host {
  // border-top: 1px dotted #FFF;
  // border-bottom: 1px dotted #FFF;

  .hostHover {
    opacity: 0 !important;
    transition: var(--my-hover-transition);
  }

  .hostHoverIconAppear {
    opacity: 0 !important;
    // width: -24px;
    margin-right: -24px;
    transition: var(--my-hover-transition);
  }
}

:host:hover {
  // opacity: 1 !important;
  transition: var(--my-hover-transition);
  // border-top: 1px dotted #CCC;
  // border-bottom: 1px dotted #CCC;

  .hostHover {
    opacity: 1 !important;
    transition: var(--my-hover-transition);
    // transition: opacity 0.3s ease; /* Optional: adds a smooth fade-in */
  }

  .hostHoverIconAppear {
    margin-right: 0;
    opacity: 1 !important;
    transition: var(--my-hover-transition);
  }
}

.bottom-bar {
  height: 0px;
  border-bottom: 1px dotted #CCC;
  // border-bottom: 1px dotted #CCC;
  flex: 1 1 auto;
  // height: 12px;
  // margin-bottom: -12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  z-index: 2;
}

.top-bar {
  height: 0px;
  border-top: 1px dotted #CCC;
  flex: 1 1 auto;
  margin-top: -12px;
  height: 12px;
  z-index: 2;
}

.showOnHover {
  opacity: 0 !important;
}
.showOnHover:hover {
  opacity: 1 !important;
  transition: var(--my-hover-transition);
}


.expanded-section {
  padding-left: 10px;
  padding-right: 10px;
}

.mini-id-title {
  font-size: small;
  color: #bbb;
  background-color: #FFF;
  padding-left: 3px;
  padding-right: 3px;
  transition: var(--my-hover-transition);
  // flex: 1 1 auto;
  z-index: 5;
}

.left-margin {
  margin-left: 5px;
}

.small-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: space-between;
  // align-items: flex-start;
  align-items: center;
  flex: 1 1 auto;
  z-index: 5;
  height: 24px;

  --mdc-icon-button-icon-size: 16px !important;
  --mdc-icon-button-state-layer-size: 24px !important;

  .mat-mdc-icon-button {
    background-color: #FFF !important;
    z-index: 5;
  }

  button {
    width: 24px !important;
    height: 24px !important;
    // line-height: 24px !important;
    // background-color: #fff;

    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  
    & > *[role=img] {
      width: 16px;
      height: 16px;
      font-size: 16px;
 
      svg {
         width: 16px !important;
         height: 16px !important;
      }
    }

    ::ng-deep { 
      .mat-mdc-button-touch-target {
        height: unset !important;
        width: unset !important;
        // width: 24px !important;
        // height: 24px !important;
      }
    }
  }
}


.chip {
  margin-left: 5px;
  background-color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-size: small;
  color: #bbb;
  z-index: 5;
}
.inputsChips {
  margin-left: 25px;
  z-index: 5;
}
.inputId {
  border: 1px solid #bbb;
  border-top: none;
  z-index: 5;
}
.unfilledInput {
  border: 1px dotted #bbb;
  border-top: none;
  z-index: 5;
}

.outputChips {
  margin-left: 25px;
  z-index: 5;
}
.outputId {
  border: 1px solid #bbb;
  border-bottom: none;
  z-index: 5;
}