.token-seq {
    background-color: #EEE;
    padding: 4px;
}

.token {
    background-color: #FFF;
    border: 1px solid #FFF;
    padding: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 7px;
}