.sae-main {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 22px;
}

.trainer {
    margin-top: 20px;
}

.upload-instructions {
    margin-bottom: 5px;
}

.trainer .status {
    margin-top: 20px;
}