<div class="sae-main">
    <div class="title">Train a sparse auto-encoder</div>
    <div class="uploader">
        <div class="upload-instructions">Upload training data</div>
        <input type="file" (change)="uploadTrainingData($event)">
    </div>
    
    @if (trainingData) {
        <div class="trainer">
            <button mat-flat-button color="primary" (click)="train()">
                train
              </button>
    
            <div class="status">{{status}}</div>
        </div>
    }
</div>