<div class="sae-main">
  <div class="title">Train a sparse auto-encoder</div>
  <div class="training-data-option" (click)="selectSample()">
    @if (useSampleTrainingData) {
      <div class="radio-indicator-on"></div>
    } @else {
      <div class="radio-indicator-off"></div>
    }
    <div class="description">
      Use sample training data (boundary task, 100 tokens)
    </div>
  </div>
  <div class="training-data-option" (click)="selectUpload()">
    @if (useUploadedTrainingData) {
      <div class="radio-indicator-on"></div>
    } @else {
      <div class="radio-indicator-off"></div>
    }
    <div class="description">Or, upload training data</div>
    @if (useUploadedTrainingData) {
      <div class="uploader">
        <input type="file" (change)="uploadTrainingData($event)" />
      </div>
    }
  </div>

  @if (trainingData) {
    <div class="trainer">
      <div class="controls">
        <form class="param-form">
          <mat-form-field class="short-width" appearance="fill">
            <mat-label>Dict multiplier</mat-label>
            <input matInput required [formControl]="dictionaryMultiplier" />
          </mat-form-field>
          <mat-form-field class="short-width" appearance="fill">
            <mat-label>L1 coefficient</mat-label>
            <input matInput required [formControl]="l1Coeff" />
          </mat-form-field>
          <mat-form-field class="short-width" appearance="fill">
            <mat-label>Batch size</mat-label>
            <input matInput required [formControl]="batchSize" />
          </mat-form-field>
          <mat-form-field class="short-width" appearance="fill">
            <mat-label>Num epochs</mat-label>
            <input matInput required [formControl]="epochs" />
          </mat-form-field>
        </form>
        <button
          [disabled]="trained"
          mat-flat-button
          color="primary"
          (click)="train()"
        >
          train
        </button>
      </div>

      @if (lossPoints.length > 0) {
        <div>
          <app-d3-line-chart [dataPoints]="lossPoints"></app-d3-line-chart>
        </div>
      }
    </div>
  }

  @if (trained) {
    <div class="results">
      @if (learnedFeatureActivationFrequencies.length) {
        <div class="frequencies">
          <div class="label">Neuron activation frequency</div>
          @for (
            item of learnedFeatureActivationFrequencies;
            track item;
            let i = $index
          ) {
            <div class="neuron">
              <span class="neuron-index">{{ i }}</span
              ><span class="activation-frequency">{{
                item | number: "1.2-2"
              }}</span>
            </div>
          }
        </div>
      }

      <div class="interpreter">
        <form (ngSubmit)="interpret()">
          <mat-form-field class="short-width" appearance="fill">
            <mat-label>Neuron index</mat-label>
            <input matInput required [formControl]="neuronIndexToInspect" />
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="interpret()">
            Inspect
          </button>
        </form>
        @if (topActivationsForUserInputFeature) {
          <div class="top-activations">
            <div class="label">Top activating data</div>
            @for (
              item of topActivationsForUserInputFeature;
              track item;
              let i = $index
            ) {
              <div class="neuron">
                <span class="neuron-index">{{ i }}</span>
                <span
                  >{{ item.token }}: {{ item.value | number: "1.2-2" }} (Pos
                  {{ item.tokenPos }}: {{ item.sequence }})</span
                >
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
