.sae-main {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 22px;
}

.trainer {
    margin-top: 20px;
}

.training-data-option {
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio-indicator-on, .radio-indicator-off {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: solid 1px #222;
}

.radio-indicator-on {
    background: #673ab7
}

.radio-indicator-off {

}

.upload-instructions {
    margin-bottom: 5px;
}

.trainer .status {
    margin-top: 20px;
}

.interpreter, .frequencies {
    margin-top: 20px;
}

.results {
    display: flex;
    gap: 20px;
}

.short-width {
    width: 7em;
    margin-right: 1em;
}