
.small-logo {
  width: 100px;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.87);
  color: white;
  font-weight: 600;
  flex: 0 0 60px;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 0;
  margin-top: 60px;
  padding: 10px 16px;
  max-width: 960px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  // background-color: rgba(0,255,0,.87);
}
