<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="small-logo" aria-label="Home" [routerLink]="['/']" title="Home">
    <img src="/assets/pair-logo.svg">
  </a> <span class="title">Tiny & Animated Transformers</span>
    <div class="spacer"></div>
</div>

<div class="content">
<ul>
  <li><a [routerLink]="['/activations']">Activations</a></li>
  <li><a [routerLink]="['/wcolab']">WebColab</a></li>
  <li><a [routerLink]="['/transformers']">Animated Transformer</a></li>
  <li><a [routerLink]="['/sae']">SAE</a></li>
</ul>
</div>

