:host {
  padding-bottom:100px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;

  .title {
    font-weight: 800;
  }  

  .codeLink {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
  }
}


.spacer {
  flex: 1;
}




.chip {
  margin-left: 10px;
  background-color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-size: small;
  z-index: 5;
}

.inputChips {
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 12px;
  color: #bbb;
  // border: 2px solid #bbb;
  // border-top: none;
  span.inputId {
    border: 1px dashed #bbb;
    // border-left: none;
    z-index: 5;
  }
}

.unfilledInput {
  border: 1px dotted #bbb;
  background-color: 1px dotted #Fbb;
  z-index: 5;
}

.outputChips {
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  color: #bbb;
  
  span.outputId {
    border: 1px dashed #bbb;
    // border-right: none;
    z-index: 5;
  }
}

.hasValue {
  color: #777 !important;
  border: 1px solid #999 !important; 
}

// Just to make some extra space at the bottom
.footer {
  margin-bottom: 16px;
}