<div #cellstatus class="cellStatus">
  <div>Cell: {{ cell.controller.id }} [Status: {{ status() }} ]</div>
  @if (vsCodeLink()) {
    <div><a [href]="vsCodeLink()">vscode</a></div>
  }
  <div class="spacer"></div>
  @if (status() === CellStatus.NotStarted) {
    <button
      mat-icon-button
      matTooltip="Start"
      aria-label="Start"
      (click)="start()"
    >
      <mat-icon svgIcon="play_circle">play</mat-icon>
    </button>
  } @else if (
    status() !== CellStatus.Stopping && status() !== CellStatus.Stopped
  ) {
    <button
      mat-icon-button
      matTooltip="Request Stop"
      aria-label="Request Stop"
      (click)="requestStop()"
    >
      <mat-icon svgIcon="stop_circle">stop</mat-icon>
    </button>
  } @else if (status() === CellStatus.Stopping) {
    <button
      mat-icon-button
      matTooltip="Force Stop"
      aria-label="Force Stop"
      (click)="forceStop()"
    >
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  } @else if (status() === CellStatus.Stopped) {
    <button
      mat-icon-button
      matTooltip="Restart"
      aria-label="Restart"
      (click)="reset()"
    >
      <mat-icon svgIcon="restart_alt">restart</mat-icon>
    </button>
  }
</div>
<div>
  <!-- @let data =  -->
  <div>
    Inputs:
    <div>
      @for (i of inputs(); track $index) {
        {{ i }}
      }
    </div>
  </div>
  <div>
    Outputs:
    <div>
      @for (i of outputs(); track $index) {
        {{ i }}
      }
    </div>
  </div>
</div>
