<div #cellstatus class="header">
  <!-- <div class="spacer"></div> -->
  @if (status() === CellStatus.NotStarted) {
    <button
      mat-icon-button
      matTooltip="Start"
      aria-label="Start"
      (click)="start()"
    >
      <mat-icon svgIcon="play_circle">play</mat-icon>
    </button>
  } @else if (
    status() !== CellStatus.Stopping && status() !== CellStatus.Stopped
  ) {
    <button
      mat-icon-button
      matTooltip="Request Stop"
      aria-label="Request Stop"
      (click)="requestStop()"
    >
      <mat-icon svgIcon="stop_circle">stop</mat-icon>
    </button>
  } @else if (status() === CellStatus.Stopping) {
    <button
      mat-icon-button
      matTooltip="Force Stop"
      aria-label="Force Stop"
      (click)="forceStop()"
    >
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  } @else if (status() === CellStatus.Stopped) {
    <button
      mat-icon-button
      matTooltip="Restart"
      aria-label="Restart"
      (click)="reset()"
    >
      <mat-icon svgIcon="restart_alt">restart</mat-icon>
    </button>
  }
  <div class="title">{{ cell.controller.id }}</div>
  @if (vsCodeLink()) {
    <button
      mat-icon-button
      matTooltip="Open code link"
      aria-label="Open code link"
      (click)="openCodeLink()"
    >
      <mat-icon svgIcon="code">code</mat-icon>
    </button>
  }
</div>
<div>
  @if (def.cellCodeRef.kind === CellCodeRefKind.InlineWorkerJsCode) {
    <app-codemirror-js-editor
      [whatIsBeingEditedName]="'inline code'"
      [defaultStr]="''"
      [codeStr]="def.cellCodeRef.js"
      [closable]="false"
      (update)="handleJsUpdate($event)"
    ></app-codemirror-js-editor>
  }
  <div>
    Inputs:
    <div>
      @for (i of inputs(); track $index) {
        <app-auto-completed-text-input
          [label]="i"
          [selectedName]="null"
          [itemNames]="sectionsWithOutputs()"
          (itemSelected)="selectInputSection(i, $event)"
        ></app-auto-completed-text-input>
        <!-- <app-auto-completed-text-input
          [label]="i"
          [selectedName]="null"
          [itemNames]="outputFromThatCellNames()"
        ></app-auto-completed-text-input> -->
      }
    </div>
  </div>
  <div>
    Outputs:
    <div>
      @for (i of outputs(); track $index) {
        {{ i }}
      }
    </div>
  </div>
</div>
